body {
    background-image: url(back.JPG);
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.heading {
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-size: 80px;

       
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    
}

.btn {
   

    border-radius: 10px;
    font-size: 16px;
   
    outline: none;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    cursor: pointer;

}

#quote, #author {
    position: relative;
    left: 30%;
    background-color: white;
    width: 40%;
}

#quote {
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 22px;
}

#author {
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
}